.opportunities {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 41px;
  margin: 0 60px;
  padding-top: 60px;
  padding-bottom: 60px;
  border-radius: 35.386px;
  background: #F7F7FD no-repeat 100% 37px url("../img/bcg/faq-bcg.webp");
}
