.promo {
  display: flex;
  justify-content: center;
  padding: 200px 0;

  .btn {
    margin-top: 20px;
  }

  @media (max-width: $tablet-width) {
    padding: 130px 0;
  }
}

.promo__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  max-width: 1000px;
  text-align: center;
}

.promo__sub-heading {
  color: $main-color;
}

.promo__heading {
  font-size: 39px;
}

.promo__about {
  margin-top: -4px;
}
